body{
    margin: 0px
}
.systemTitle{
    position: fixed;
    top: 10px;
    left: 50px;
    z-index: 9999;
    background-color: aliceblue;
    font-weight: bold;
    font-style: normal;
    padding: 10px 16px;
    font-size: 48px;
    letter-spacing: 3px;
}
.map{
    height: calc(100vh - 86px);
}
#controllerDiv{
    position: fixed;
    right: 10px;
    bottom: 25px;
    z-index: 999;
    width: 290px;
    height: 90vh;
}
.__view{
    display: flex;
    flex-direction: column-reverse;
}
.controllerItemDiv{
    background-color: #f0f8ffeb;
    margin-top: 10px;
    margin-bottom: 10px;
}
.basinTypeDiv{
    padding: 0px 0px 0px 15px;
}
.basinSelecter{
    width: 100px;
}
.divider{
    margin: 5px 0;
    background-color: #96c6f7;
}
.basinLabel{
    width: 125px;
}
.btnHoverBlue:hover {
    background-color: #2db7f5;
    color: white;
}
.batchQueryDiv{
    margin-bottom: 5px;
}
.clickSwitch{
    margin-left: 5px;
}
.queryTypeDiv{
    padding: 0px 0px 0px 15px;
    margin: 5px 0;
}
.uploadCSV{
    border: dashed 0.5px;
    margin-left: 5px;
}
.uploadGeoJSON{
    border: dashed 0.5px;
    margin-left: 5px;
}
.downloadBtn{
    margin-left: 5px;
    width:50px;
}
.customDiv{
    text-align: center;
}
.customBtn{
    width:250px;
}
.showGeoJSONInfoDiv{
    margin-bottom: 5px;
}
.csvInfo{
    margin-left: 15px;
    width: 250px;
}
.csvLevelSelecter{
    margin-left: 5px;
    margin-bottom: 10px;
    width: 250px;
}
.geoJSONInfo{
    margin-left: 15px;
    width: 250px;
}
.fileBtnHoverRed:hover {
    background-color: #ed4014;
    color: white;
}
.removeCSVSelect{
    margin-left: 5px;
}
#removeCSVSelect{
    margin-left: 5px;
}
#removeGeoJSONSelect{
    margin-left: 5px;
}
.selectDataDiv{
    padding: 0px 0px 0px 15px;
}
.dataTag{
    height: fit-content;
}
.runStatusDiv{
    text-align: center;
}
.runStatus{
    text-align: left;
}
.resetOperationBtn{
    width:350px;
}
.downloadBasinsBtnDiv{
    text-align: center;
}
.customOperationBtn{
    width:350px;
}
.removeCustomSelect{
    margin-left: 5px;
}
.customFileInput{
    width: 280px;
}
.customUploadBtn{
    display: inline-block;
    margin-left: 10px;
}
.modelBtn{
    margin-top: 5px;
    width: 264px;
}